.navbar {
  background-color: rgb(245, 244, 176);
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 85px;
  &__brand {
    height: 40px;
    width: 176px;
    background-size: 
    114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: image-url("logo.png");
  }
  &-nav {
    padding-right: 15px;
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.commonNavIcon {
  height: 24px;
  width: 22px;
  background-size: 22px;
  margin-right: 10px;
  margin-left: 10px; 
  margin-top: 5px;
}

.commonNavBtn {
  margin-right: 10px;
  margin-left: 10px; 
}

.profile-icon {
  background-image: image-url("parts3.png");
}

.home-icon {
  background-image: image-url("parts10.png");
}

.search-icon {
  background-image: image-url("parts11.png");
}

.setting {
  background-image: image-url("parts4.png");
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.btn-push {
  margin-right: 10px;
}