<% post.comments.each do |comment| %>
  <div class="mb-2">
    <% if comment.user == current_user %>
      <%= link_to "", post_comment_path(post.id, comment), method: :delete, remote: true, class: "delete-comment" %>
    <% end %>
    <span>
      <strong>
        <%= link_to comment.user.name, user_path(comment.user), class: "black-color" %>
      </strong>
    </span>
    <span><%= comment.comment %></span>
    <div class="light-color post-time no-text-decoration">
      <span><%= time_ago_in_words(comment.created_at).upcase + "å‰" %></span>
    </div>
  </div>
<% end %>